@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}